In [1]:
import pandas as pd
import seaborn as sns

In [2]:
ips = sns.load_dataset('tips')

In [3]:
tips = sns.load_dataset('tips')

In [4]:
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
titanic = pd.read_csv('train.csv')