In [1]:
import numpy as np 
import pandas as pd

In [2]:
dataFrame=pd.read_csv("placement.csv")

In [3]:
print(dataFrame)

    Unnamed: 0  cgpa     iq  placement
0            0   6.8  123.0          1
1            1   5.9  106.0          0
2            2   5.3  121.0          0
3            3   7.4  132.0          1
4            4   5.8  142.0          0
..         ...   ...    ...        ...
95          95   4.3  200.0          0
96          96   4.4   42.0          0
97          97   6.7  182.0          1
98          98   6.3  103.0          1
99          99   6.2  113.0          1

[100 rows x 4 columns]

In [4]:
dataFrame.head()              


# The dataFrame.head() method is a function commonly used in the Pandas library in Python. Its purpose is to display the first few rows of a DataFrame, providing a quick overview of the data's structure and content.

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0

In [5]:
# Steps
# 0.Preprocessing +EDA+Feature Selection
# 1. Extract input and output columns
# 2. Scale the values
# 3. Train the test split
# 4. Train the model 
# 5.Evaluate the model 
# 6. Deploy the model

In [6]:
df.head()

NameError: name 'df' is not defined

In [7]:
dataFrame.head()

   Unnamed: 0  cgpa     iq  placement
0           0   6.8  123.0          1
1           1   5.9  106.0          0
2           2   5.3  121.0          0
3           3   7.4  132.0          1
4           4   5.8  142.0          0